* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.history {
    padding-bottom: 64px;
}

.container-fluid{
    background-color: #ddede4;
}
.title-history, .title-team-achievements{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    /* font-size: 2em; */
    text-transform: uppercase;
    letter-spacing: .2em;
    padding: 45px 0 10px;

}

.text-history p, .text-team-achievements p{
    font-size: 1em;
    font-weight: 400;
    line-height: 1.6;
}

.text-team-achievements p{
    margin-bottom: 0px;
}