* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}


.container-fluid {
    background-color: #ddede4;
}

/* Naujiena */
.title-news {
    text-align: left;
    font-weight: 400;
    /* font-size: 2em; */
    text-transform: uppercase;
    letter-spacing: .2em;
    padding: 45px 0 10px;

}

.data-news-source{
    display: flex;
    /* gap: 700px; */
    margin-bottom: 1rem;
    justify-content: space-between;
}

.data-news-source p, time{
    font-size: 1em;
    font-weight: 300;
}

.img-news{
    background-color: grey;
}

.img-news img{
    width: 100%;
    max-height: 32rem;
    object-fit: cover;
}

.photo-author{
    background-color: #ddede4;
    text-align: end;
}

.text-news p{
    font-size: 1em;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 20px;
}

.text-news p:last-child{
    margin-bottom: 0px;
    padding-bottom: 64px;
}
/* ---- */