* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container-fluid{
    background-color: #ddede4;
}

/* Hero sveiki atvykę į pragarą */
.hero-area{
    padding-bottom: 45px;
    background-color: #ddede4;
}

.hero-img {
    max-width: 100%;
    height: auto;
    object-fit: cover; 
}
/* ---- */



/* Artimiausios rungtynės */
.container-games-and-news {
    display: flex;
    gap: 30px;
    background-color: #ddede4;
}

.games-all {
    /* text-align: center; */
    /* border-style: groove; */
    width: 30%;
    background-color: #c5d6cb;
    height: 100%;
}



.title-soon h1{
    font-weight: 400;
    font-size: 2em;
    letter-spacing: .2em;
    text-transform: uppercase;
    padding: 0px 0px 10px 0px;
    margin: 0;
    width: 100%;
    text-align: center;
    background-color: #ddede4;
}

.game-data p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.6;
}

.match{
    display: flex;
}

.team-first {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.result {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.result p{
    font-size: 1em;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 0px;
}

.team-second {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 40%;
}

.title-team p{
    margin-bottom: 0px;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.6;
}

.title-team img{
    max-height: 50px;
    max-width: 50px;
}

.place{
    display: flex;
    justify-content: center;
    align-items: center;
}

.place p{
    font-size: 1em;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 0px;
}

.line{
    background: #840f21;
    width: 100%;
    height: 3px;
    margin-bottom: 20px;
}

.container-games-and-news{
    padding-bottom: 54px;
}

/* ---- */

/* Mygtukas rodyti visas rungtynes */

.button-all-games .info-area a{
    font-size: 1em;
    font-weight: 400;
    margin-top: 40px;
}

.info-area.text-center{
    background-color: #ddede4;
}

/* ---- */

/* Visos naujienos */

.news-title h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: .2em;
    margin: 0 0 29px;
}

.news-section{
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 70%;
}
/* ---- */

/* Naujienos (1) */
.news{
    display: flex;
    background-color: #c5d6cb;
    width: 100%;
}

.news-section a{
    text-decoration: none;
    color: black;
}

.opacity-link:hover {
    opacity: 0.8;
}

.img-section-news{
    /* height: 100%; */
    width: 30%;
    background-color: #666666;
}

.img-section-news img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.news-info {
    width: 70%;
}

.new-title h4{
    font-size: 2em;
    font-weight: 400;
    line-height: 1.3;
}

.new-text p{
    font-size: 1em;
    font-weight: 400;
    line-height: 1.6;
}
/* ---- */

/* Mygtukas rodyti daugiau naujienų */
.button-all-news .info-area a{
    font-size: 1em;
    font-weight: 400;
    margin-top: 20px;
}
/* ---- */


/* Komanda (karuselė) */
.testimonial-box{
    background-color: #ddede4;
}

.owl-stage{
    background-color: #ddede4;
}

.team-title h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: .2em;
    padding: 45px 0 40px;
    margin: 0;
}

.single-box{
    border: 1px solid #c5d6cb;
    /* border-radius: 20px; */
    overflow: hidden;
    background-color: #c5d6cb;
}

.info-area{
    padding: 0 20px 20px;
}

.img-area{
    overflow: hidden;
    padding: 15px 0 15px;
}

.img-area img{
    margin: 0 auto;
    max-width: 230px;
}


.info-area h4{
    font-weight: 600;
}

.info-area p{
    font-size: 1em;
    font-weight: 400;
    line-height: 1.3;
}

.info-area a{
    display: inline-block;
    /* margin: 25px 0 0; */
    background-color: #840f21;
    text-decoration: none;
    color: #ddede4;
    padding: 10px 35px;
    border-radius: 4px;
}


.team-slider .owl-dots{
    position: absolute;
    left: 0;
    right: 0;
    bottom: -60px;
    text-align: center;
    width: 100%;
    background-color: #ddede4;
}

.team-slider button.owl-dot{
    width: 16px;
    height: 16px;
    display: inline-block;
    margin: 0 6px;
    text-align: center;
    border-radius: 50%;
    background-color: #262626!important;
}

.team-title{
    background-color: #ddede4;
}
/* ---- */

/* Mygtukas rodyti visus žaidėjus */
.button-all-team a{
    margin-top: 85px;
    font-size: 1em;
    font-weight: 400;
}

.button-all-team .info-area{
    padding: 0;
} 
/* ---- */

/* Turnyrinė lentelė */
table.table{
    margin: 0;
}

table th:nth-child(3){
    text-align: center;
}

table th:nth-child(4){
    text-align: center;
}

table td:nth-child(3){
    text-align: center;
}

table td:nth-child(4){
    text-align: center;
}

.table-striped>thead>tr>th,
.table-striped>tbody>tr>td,
.table-striped>tbody>tr>th{
 background-color: #c5d6cb;
}

.table-title h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: .2em;
    padding: 45px 0 40px;
    margin: 0;
    background-color: #ddede4;
}

.table img{
    height: 30px;
    padding-right: 10px;
    max-width: 30px;
}

.last-games{
    display: flex;
    height: 30px;
    width: 100px;
    gap: 7px;
}

.last-game-first{
    margin: auto 0;
    width: 15px;
    height: 15px;
    background-color: green;   
}

.last-game-second{
    margin: auto 0;
    width: 15px;
    height: 15px;
    background-color: green;   
}

.last-game-third{
    margin: auto 0;
    width: 15px;
    height: 15px;
    background-color: red;   
}

.last-game-fourth{
    margin: auto 0;
    width: 15px;
    height: 15px;
    background-color: red;   
}

.last-game-fifth{
    margin: auto 0;
    width: 15px;
    height: 15px;
    background-color: green;   
}


/* ---- */

/* Rėmėjai */

.partners-title h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: .2em;
    padding: 80px 0 40px;
    margin: 0;
    background-color: #ddede4;

}

@keyframes slide{
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.logos{
    overflow: hidden;
    padding: 60px 0;
    background: #c5d6cb;
    white-space: nowrap;
    position: relative;
}

.logos:before,
.logos:after{
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}

.logos:before{
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #c5d6cb);
}

.logos:after{
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #c5d6cb);
}

.logos:hover .logos-slide{
    animation-play-state: paused;
}

.logos-slide{
    display: inline-block;
    animation: 35s slide infinite linear;
}

.logos-slide img{
    height: 50px;
    margin: 0 40px;
}

/* ---- */
