.team-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: .2em;
    margin: 45px 0 10px;

}

.img-team {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
}

.image-team {
    max-width: 100%;
    height: auto;
    object-fit: cover; 
}
 
.team{
    display: flex;
    flex-wrap: wrap;
    background-color: blue;
    /* gap: 2px; */
}

.player{
    display: flex;
    width: 100%;
    background-color: aqua;
    padding: 0px 15px 15px 0px;
}

.img-player img{
    width: 100%;
    height: auto;
    max-width: 255px;
    max-height: 295px;
    object-fit: contain;
}

.info-player{
    width: 50%;
    background-color: yellow;

}

.name{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    font-size: 1.2rem;
}

.name p{
    margin: 0px;
}

.about{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: start;
    text-align: center;
    font-size: 1rem;
}

.about p{
    margin: 0px;
}