* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container-fluid{
    background-color: #ddede4;
}

.team-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    /* font-size: 2em; */
    text-transform: uppercase;
    letter-spacing: .2em;
    padding: 45px 0 10px;

}

.img-team {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 45px;
}

.image-team {
    max-width: 100%;
    height: auto;
    object-fit: cover; 
}
 
.team{
    display: flex;
    flex-wrap: wrap;
    background-color: #ddede4;
    padding-bottom: 49px;
}
.player{
    display: flex;
    width: 100%;
    background-color: #ddede4;
    padding: 0px 15px 15px 0px;
}

.img-player{
    background-color: #c5d6cb;
}

.img-player img{
    width: 100%;
    height: auto;
    max-width: 255px;
    max-height: 295px;
    object-fit: contain;
}

.info-player{
    width: 50%;
    background-color: #c5d6cb;

}

.name{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    /* font-size: 1.2rem; */
}

.name p{
    font-weight: 500;
    margin: 0px;
}

.about{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: start;
    text-align: center;
    /* font-size: 1rem; */
}

.about p{
    margin: 0px;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .info-player{
        width: 266px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .info-player{
        width: 230px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .info-player{
        width: 294px;
    }
}