* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}


.container-fluid {
    background-color: #ddede4;
}

.sponsors-title{
    text-align: center;
    vertical-align: middle;
    font-weight: 300;;
    /* font-size: 2em; */
    text-transform: uppercase;
    letter-spacing: .2em;
    padding: 40px 0px 20px 0px;
}

.sponsors-all {
    padding-bottom: 24px;
}

.sponsors-all a{
    text-decoration: none;
}

.general-sponsors, .main-sponsors, .partners{
    text-align: center;
    display:inline-block;
    width: 100%;
}

.sponsors{
    text-align: center;
    display:inline-block;
}

.sponsors-all img{
    max-height: 5.375rem;
    margin: 0px 25px 40px;
}

@media (min-width: 320px) and (max-width: 767px) {
    .sponsors-all img{
        max-height: 3rem;
    }

    .constro, .agotos{
        width: 8rem;
    }
}
