* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container-fluid{
    background-color: #ddede4;
}

.emty{
    padding: 32px 0px 32px 0px;
    background: #ddede4;
}

/* Tvarkaraštis */

.table th{
    text-align: center;
    vertical-align: middle;
}

.table td{
    text-align: center;
    vertical-align: middle;
}

table.table{
    margin: 0;
}

.table-striped>thead>tr>th,
.table-striped>tbody>tr>td,
.table-striped>tbody>tr>th{
 background-color: #c5d6cb;
}

.table-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .2em;
    padding: 45px 0 40px;
    margin: 0;
    background-color: #ddede4;
}

.table img{
    height: 30px;
    margin: 0px 10px 0px 10px;
    max-width: 30px;
}

@media (max-width: 767px) {
    .table td, .table th{
        font-size: 12px;        
    }
}

@media (max-width: 548px) {
    .table img{
        display: none;
        /* height: 15px; */
    }
}

/* ---- */